<header>
  <nav class="navbar navbar-expand-sm">
    <div class="d-flex myNav">
      <ul class="navbar-nav align-items-center">
        <button
          routerLink="/"
          class="navbar-brand mx-4 font-weight-bold nav-link"
        >
          Bertha's
        </button>
        <button routerLink="/" class="mx-4 nav-link">Home</button>
        <button routerLink="/products" class="mx-4 nav-link">
          Order Online
        </button>
      </ul>
    </div>
    <div class="ml-auto p-1 myNav">
      <button routerLink="/cart" class="myNavButton">
        <span class="pb-0">
          <i class="fas fa-cart-plus"></i>
          &nbsp;|&nbsp;
          <label>{{ cartCount }}</label>
        </span>
      </button>
    </div>
  </nav>
</header>
