.myNav {
  background: white;
  border-radius: 2rem;
  color: orangered;
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
  margin: 0.25rem;
  border-radius: 2rem;
  background: transparent;
}
.myNavButton {
  color: orangered;
  font-size: 1.2rem;
}
.nav-link {
  color: orange;
  font-size: 1.3rem;
}
